# dependencies
node_modules/

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db
backend/ServiceAccount.json
8b9578bc1e2302e3a75ac27510a86a584aaa425f
