# dependencies
node_modules/

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

backend/geo-attendance-f0d04-firebase-adminsdk-fbsvc-09b2e10fe1.json

